<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.bluebirds37.scaffold.mapper.DataMapper">

    <resultMap id="tableInfoMap" type="top.bluebirds37.scaffold.entity.TableInfo">
        <id column="TABLE_NAME" property="tableName"/>
        <result column="TABLE_COMMENT" property="tableComment"/>
        <collection property="columnInfoList" ofType="top.bluebirds37.scaffold.entity.ColumnInfo">
            <id column="COLUMN_NAME" property="columnName"/>
            <result column="COLUMN_COMMENT" property="columnComment"/>
            <result column="DATA_TYPE" property="dataType"/>
            <result column="PRIMARY" property="primary"/>
        </collection>
    </resultMap>

    <select id="listTables" resultMap="tableInfoMap">
        SELECT
        t.TABLE_NAME,
        t.TABLE_COMMENT,
        c.COLUMN_NAME,
        c.DATA_TYPE,
        c.COLUMN_COMMENT,
        (CASE WHEN c.COLUMN_KEY = 'PRI' THEN TRUE ELSE FALSE END ) AS `PRIMARY`
        FROM
            information_schema.TABLES t
        LEFT JOIN information_schema.COLUMNS c ON t.TABLE_NAME = c.TABLE_NAME
        WHERE
            t.TABLE_SCHEMA = (SELECT DATABASE())
        AND
            c.TABLE_SCHEMA = (SELECT DATABASE())
    </select>
</mapper>
